
.nav-bar{
  height: 80px;
  vertical-align: middle;
  line-height: 80px;
}

.nav-bar img{
  height: 30px;
}

.row{
  width: 1000px;
  margin: auto;
}

.h-400{
  height: 400px;
}

.h-200{
  height: 200px;
}

.h-600{
  height: 600px;
}

.blue{
  background-color: blue;
}

.grey{
  background-color: lightgrey;
}

#blue{
  color: blue;
}

.greyco{
  color: grey;
}

.margin-top{
  margin-top: 50px;
}

.twenty{
  font-size: 25px;
}

.deploy .deploy-text{
  color: white;
  font-size: 20px;
  margin-top: 40px;
}

.deploy .deploy-text .title{
  font-size: 40px;
}

.deploy-box{
  background-color: white;
  height: 340px;
  width: auto;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

.deploy-box-text{
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

.deploy-box-text > *{
  margin-bottom: 5px;
}

.stickers p{
  margin-top: 20px;
}

.title-seamlessly > *{
  margin-bottom: 50px;
}

.title-seamlessly h1{
  margin-top: 50px;
  margin-bottom: 20px;
}

.list-unstyled{
  padding-left: 50px;
}

.seamlessly-list > li{
  border-left: 1px solid grey;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  padding-left: 10px;
  color: grey;
}

#img-table{
  padding-top: 50px;
  width: 500px;
}

.slider-container{
    width: 800px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container
{
    width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;
}

.button-container
{
	position: relative;
	top: -20px;
}

.slider-change
{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: brown;
}

.white{
  color: white;
}

.list-service > p{
  margin-bottom: 15px;
  border-bottom: 1px solid white;
}

.services .col-md-6{
  margin-top: 20px;
}

.rocker-box{
  height: 400px;
  width: 600px;
  background-color: white;
  margin: auto;
  margin-top: 30px;
  padding-top: 40px;
}

.rocker-box > *{
  padding-bottom: 20px;
}

footer{
  background-color: darkblue;
}
